{{!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  	<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
<section>
    <div class="container">
        <div class="a">
            <a class="btn btn-success ml-auto" href="/admin/add-product">Add-product</a>
        </div>
        <table class="table mt-5" id="myTable">
  <thead>
    <tr>
      <th scope="col">Number</th>
      <th scope="col">Title</th>
      <th scope="col">Category</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Image</th>
      <th scope="col">Edit/Delete</th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
    <tr>
      <th>{{this.no}}</th>
      <td>{{this.name}}</td>
      <td>{{this.category}}</td>
      <td>{{this.description}}</td>
      <td>{{this.price}}</td>
      <td><img src="/product-images/{{this._id}}.jpg" style="width:50px;height:50px;"></td>
      <td>
        <a href="/admin/edit-product/{{this._id}}" class="btn btn-success" >Edit</a>
                    


  <a class="btn btn-danger delete" href="/admin/delete-product/{{this._id}}">Delete</a> 
       
      </td>
    </tr>
   {{/each}}
  </tbody>
</table>
</section>
 <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script>
  $(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>
<script>
  $(".delete").on("click",function(e){
   e.preventDefault()
   var self =$(this);
   Swal.fire({
  title: 'Are you sure?',
  text: "You won't be able to revert this!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Yes, delete it!'
}).then((result) => {
  if (result.isConfirmed) {
    location.href=self.attr("href")
  }
  })
  })
</script>


<style>
  .container{
    background-color:rgb(246, 246, 246);
  }
  .table{
    color:rgb(0, 0, 0)
    ;
  }
 
</style>
 --}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Home</title>
  <link rel="stylesheet" href="//cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
</head>
<body>
  
  <section>
  <div class="container mt-5">
    <div class="mt-5">
        <a href="/admin/add-product" class="btn btn-success mb-3">Add Product</a>
    </div>
    <table class="table" id="myTable">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Product Name</th>
          <th scope="col">Category</th>
          <th scope="col">Price</th>
          <th scope="col">Image</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {{#each products}}
          <tr>
            <th scope="row">{{addOne @index}}</th>
            <td>{{this.name}}</td>
            <td>{{this.category}}</td>
            <td>{{this.price}}</td>
            <td><img style="width: 50px;height: 50px;" src="/product-images/{{this._id}}.jpg" alt="" /></td>
            <td><a href="/admin/edit-product/{{this._id}}" class="btn btn-success">Edit</a>
            <a href="/admin/delete-product/{{this._id}}" class="btn btn-danger delete"  >Delete</a>  
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script>
      $(document).ready( function () {
    $('#myTable').DataTable();
} );
    </script>
</body>
</html>

<script>
  $(".delete").on("click",function(e){
    e.preventDefault()
    var self=$(this)
    Swal.fire({
  title: 'Do you want to delete this product?',
  text: "You won't be able to revert this!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Yes, delete it!'
}).then((result) => {
  if (result.isConfirmed) {
    
    location.href=self.attr("href")
  }
})

  })

</script>